@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  background-color: linier-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;

  @include mobile-360 {
    overflow: hidden;
  }

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile-360 {
      flex-direction: column;
    }

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      @include mobile-360 {
        order: 2;
        height: 50%;
        width: 90%;

        gap: 20px;

        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 30px;
        color: orangered;
        letter-spacing: 8px;

        @include mobile-360 {
          min-height: 84px;
        }
      }

      h1 {
        font-size: 68px;

        @include mobile-360 {
          font-size: 36px;
        }
      }

      .buttons {
        button {
          padding: 10px 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
          font-size: 18px;

          &:hover {
            background-color: orangered;
            color: white;
            border: 1px solid orangered;
          }
          &:nth-child(2) {
            background-color: orangered;
            color: white;
            border: 1px solid orangered;

            &:hover {
              background-color: transparent;
              border: 1px solid white;
              color: white;
            }
          }

          @include mobile-360 {
            font-size: 12px;
          }
        }
      }

      img {
        width: 50px;
      }
    }

    .slidingTextContainer {
      position: absolute;
      font-size: 50vh;
      bottom: -120px;
      white-space: nowrap;
      color: #ffffff09;
      width: 50%;
      font-weight: bold;
      z-index: -999;
    }

    .imageContainer {
      img {
        width: 500px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        @include mobile-360 {
          width: 300px;
          margin-top: 20px;
        }
      }
    }
  }
}
